# This file is managed by gitlab-ctl. Manual changes will be
# erased! To change the contents below, edit /etc/gitlab/gitlab.rb
# and run `sudo gitlab-ctl reconfigure`.

production:
  adapter: <%= @db_adapter %>
  encoding: <%= @db_encoding %>
  database: <%= @db_database %>
  pool: <%= @db_pool %>
  username: "<%= @db_username %>"
  password: "<%= @db_password %>"
  host: <%= @db_host %>
  port: <%= @db_port %>
  socket: <%= @db_socket %>
